/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #0f1b4c;
  --client-star-size: 20;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: inherit;
  font-weight: 500;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.header {
  background: #e6f0ff;
  position: relative;
  min-height: 750px;
  max-height: 1000px;
  height: 100vh;
}

.hero {
  margin-top: 130px;
}
.hero-content {
  width: 50.4%;
}
.hero-sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
.hero-title {
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.1875;
  margin-bottom: 30px;
}
.hero-desc {
  color: #5A6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-bottom: 40px;
}
.hero-btn {
  min-width: 170px;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}
.hero-image {
  position: absolute;
  bottom: 0;
  left: calc(50.4% + 67px);
}

.navbar {
  padding-top: 38px;
  display: flex;
  align-items: center;
}
.navbar img {
  margin-right: 50px;
}
.navbar ul {
  display: flex;
}
.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .user-button {
  margin-left: auto;
  border-radius: 8px;
}
.navbar .btn {
  min-width: 100px;
  padding: 9.5px 16px;
}

.client {
  margin-top: 80px;
  padding-top: 43px;
}
.client-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}
.client-desc, .client-rate-info {
  color: #7D8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}
.client-desc {
  margin-top: 23px;
}
.client .client-star .star .rate, .client-star .star .client .rate, .client .client-star .star .unrate, .client-star .star .client .unrate, .client .client-star .star, .client-star .client .star {
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  left: 0px;
}
.client .client-star .star .rate, .client-star .star .client .rate, .client .client-star .star .unrate, .client-star .star .client .unrate, .client .client-star .star, .client-star .client .star {
  width: calc(var(--client-star-size) * 1px);
  height: calc(var(--client-star-size) * 1px);
}
.client-star {
  display: flex;
  justify-content: flex-end;
}
.client-star .star {
  position: relative;
}
.client-star .star .rate, .client-star .star .unrate {
  position: absolute;
}
.client-star .star .rate {
  background-image: url(../../assets/img/client/star-rate.svg);
}
.client-star .star .unrate {
  background-image: url(../../assets/img/client/star-unrate.svg);
}
.client-rate-info {
  display: inline-block;
  margin-top: 18.5px;
}
.client-logo {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.guide {
  margin-top: 105px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.guide-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 41.45%;
}
.guide-header h2 {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}
.guide-header h2::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 4px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background: #000339;
}
.guide-header p {
  margin-top: 20px;
  color: #5A6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}
.guide-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.guide-item {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}
.guide-item h3 {
  margin-top: 26px;
  color: #3B3C45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}
.guide-item button.btn {
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #0689FF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}
.guide-item button.btn span {
  margin-right: 6px;
}
.guide-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.featured {
  padding-top: 110px;
  padding-bottom: 110px;
  background: #f5fafe;
}
.featured header h2 {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.featured header .sub-title {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured header .sub-title .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}
.featured header .sub-title a {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}
.featured header .sub-title a img {
  margin-left: 8px;
}

button.btn {
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 14px 16px;
}
button.btn-dark {
  background-color: var(--primary-color);
  color: #fff;
}
button.btn-transparent {
  background-color: transparent;
  color: var(--primary-color);
}
button.btn:hover {
  opacity: 0.6;
}

/*# sourceMappingURL=main.css.map */
