.footer {
  margin-top: 55px;
  padding-top: 50px;
  padding-bottom: 58px;

  .category {
    display: flex;
  }

  .license {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy-right {
      color: #c2c2c2;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: normal;
    }
  }
}
