.footer {
    margin-top: 55px;
    padding-top: 50px;
    padding-bottom: 58px;

    .license {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copy-right {
            color: #C2C2C2;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: normal;
        }
    }
}