.navbar {
    padding-top: 38px;
    display: flex;
    align-items: center;
  
    img {
      margin-right: 50px;
    }
  
    ul {
      display: flex;
  
      a {
        font-weight: 500;
        font-size: 1.4rem;
        color: #4f5361;
        padding: 8px 14px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .user-button {
      margin-left: auto;
      border-radius: 8px;
    }
  
    .btn {
      min-width: 100px;
      padding: 9.5px 16px;
    }
  }