.stats {
    margin-top: 75px;
    padding-top: 50px;

    .content {
        width: 1020px;
    }

    &-info {
        display: flex;
        justify-content: space-between;
    }

    &-img-block {
        width: 51%;
        position: relative;

        figure {
            width: 100%;
        }

        img.stats-img {
            width: 400px;
            height: 560px;
            object-fit: cover;
            margin-left: auto;
            display: block;
            border-radius: 12px;
        }
        
        .trend {
            position: absolute;
            top: 0;
            left: 0;
            width: 240px;
            padding : 45px 22px;
            background: #FFF;
            border-radius: 0px 0px 12px 12px;

            .stats-num {
                display: flex;

                strong {
                    color: #000339;
                    font-size: 2.6rem;
                    font-weight: 700;
                    line-height: 1; /* 100% */
                    letter-spacing: 0.26px;
                }

                img {
                    margin-left: auto;
                }
            }

            .avatar-desc {
                margin-top: 8px;
                color: #A7A7A7;
                font-family: Poppins;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5
            }

            .seperate {
                margin-top: 25px;
                height: 1.2px;
                background: #E9E9E9;
            }

            .avatar-block {
                margin-top: 25px;
                display: flex;
                flex-wrap: wrap;
                gap: 14px;
            }

            .avatar-group {
                display: flex;

                img.avatar-img {
                    object-fit: cover;
                }

                div.avatar-img {
                    background-color: var(--avatar-bg-color);
                    color: #FFF;
                    text-align: center;
                    font-size: 0.7rem;
                    font-weight: 450;
                    line-height: 16px;
                }

                .avatar-img {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;

                    ~ .avatar-img {
                        margin-left: -3px;
                    }
                }
            }
        }
    }

    &-desc {
        width: 310px;
        padding-top: 80px;
        padding-right: 24px;

        .title {
            color: #000339;
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 1.29;
            position: relative; 

            &::before {
                content: "";
                position: absolute;
                width: 41px;
                height: 4px;
                border-radius: 12px;
                background: #000339;
                left : 0 ;
                top: -10px;
            }
        }

        .desc {
            color: #5A6473;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
            margin-top: 20px;
        }
    }

    &-number {
        display: flex;
        justify-content: space-between;
        margin-top: 110px;

        strong {
            color: #000;
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 1
        }

        .desc {
            color: #7B8087;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            margin-top: 22px;
        }
    }
}