button.btn {
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 14px 16px;

  &-dark {
    background-color: var(--primary-color);
    color: #fff;
  }

  &-transparent {
    background-color: transparent;
    color: var(--primary-color);
  }

  &:hover {
    opacity: 0.6;
  }
}
