@mixin work-break-line($numberLine, $heightAdjust : false,$baseLineHeight : 1.5) {
    display: -webkit-box;
    -webkit-line-clamp: #{$numberLine};
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;

    @if $heightAdjust == true {
        height: calc($baseLineHeight * $numberLine * 1em);
    }
}